/* styles go here */

.form-input {
  margin-bottom: 10px;
}

.fieldset-block {
  padding-bottom: 3px;
  margin-bottom: 20px;
}

#acceptRules {
  margin-bottom: 11px;
}

#password {
  margin-bottom: 7px;
}

#loveCats {
  margin-bottom: 14px;
}

#rateUs {
  margin-bottom: 11px;
}

#recommendUs {
  margin-bottom: 7px;
}
